<div class="container-fiche-delete">
  <div class="fiche-delete">
    <%= image_tag("citadelle.jpg") %>
    <i class="far fa-times-circle"></i>
    <i class="fas fa-map-marker-alt"></i>
    <h3>Enseigne en pierre sculptée représentant un catoire ou ruche d'or </h3>
  </div>
  <div class="fiche-delete">
    <%= image_tag("citadelle.jpg") %>
    <i class="far fa-times-circle"></i>
    <i class="fas fa-map-marker-alt"></i>
    <h3>Enseigne en pierre sculptée représentant un catoire ou ruche d'or </h3>
  </div>
  <div class="fiche-delete">
    <%= image_tag("citadelle.jpg") %>
    <i class="far fa-times-circle"></i>
    <i class="fas fa-map-marker-alt"></i>
    <h3>Enseigne en pierre sculptée représentant un catoire ou ruche d'or </h3>
  </div>
  <div class="fiche-delete">
    <%= image_tag("citadelle.jpg") %>
    <i class="far fa-times-circle"></i>
    <i class="fas fa-map-marker-alt"></i>
    <h3>Enseigne en pierre sculptée représentant un catoire ou ruche d'or </h3>
  </div>
  <div class="fiche-delete">
    <%= image_tag("citadelle.jpg") %>
    <i class="far fa-times-circle"></i>
    <i class="fas fa-map-marker-alt"></i>
    <h3>Enseigne en pierre sculptée représentant un catoire ou ruche d'or </h3>
  </div>
</div>
