<div class="navbar-walk">
  <div class="circle-navbar-desktop hidden-xs hidden-sm">

    <div class="navbar-walk-desktop hidden-xs hidden-sm">

       <div class="desktop-links">
        <% if user_signed_in? %>


        <div class="navbar-link">
          <%= link_to "Accueil", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Mes itinéraires", display_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "link-navbar" %>
        </div>


        <% else %>


        <div class="navbar-link">
          <%= link_to "Accueil", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Connexion", new_user_session_path, class: "link-navbar" %>
        </div>


        <div class="navbar-link">
          <%= link_to "Inscription",new_user_registration_path, class: "link-navbar" %>
        </div>



        <% end %>
      </div>

      <div class="drop-menu-desktop">
        <%= image_tag "seety_icon_inverse.png" %>
      </div>

      <div class="drop-menu-close-desktop">
        <i class="fas fa-times"></i>
      </div>

    </div>

  </div>

  <div class="circle-navbar-mobile hidden-md hidden-lg">

    <div class="navbar-walk-mobile hidden-md hidden-lg">

      <div class="mobile-links">
        <% if user_signed_in? %>


        <div class="navbar-link">
          <%= link_to "Accueil", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Mes Itinéraires", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "link-navbar" %>
        </div>


        <% else %>


        <div class="navbar-link">
          <%= link_to "Accueil", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Connexion", new_user_session_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">

          <%= link_to "Inscription",new_user_registration_path, class: "link-navbar" %>
        </div>



        <% end %>
      </div>

      <div class="drop-menu-mobile">
        <%= image_tag "seety_icon_inverse.png" %>
      </div>

      <div class="drop-menu-close-mobile">
        <i class="fas fa-times"></i>
      </div>

    </div>

  </div>


</div>
