<div class="navbar-walk">
  <div class="circle-navbar">

    <div class="navbar-walk-desktop hidden-xs hidden-sm">

      <% if user_signed_in? %>


      <div class="navbar-link">
        <%= link_to "Accueil", root_path, class: "link-navbar" %>
      </div>

      <div class="navbar-link">
        <%= link_to "Mes Itinéraires", root_path, class: "link-navbar" %>
      </div>

      <div class="navbar-link">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "link-navbar" %>
      </div>


      <% else %>


      <div class="navbar-link">
        <%= link_to "Accueil", root_path, class: "link-navbar" %>
      </div>

      <div class="navbar-link">
        <%= link_to "Connexion", new_user_session_path, class: "link-navbar" %>
      </div>

      <div class="navbar-link">
        <%= link_to new_user_registration_path  do %>
        <%= render "shared/button", calltoaction: "Inscription" %>
        <% end  %>
      </div>


      <% end %>

    </div>


    <div class="navbar-walk-mobile hidden-md hidden-lg">

      <div class="mobile-links">
        <% if user_signed_in? %>


        <div class="navbar-link">
          <%= link_to "Accueil", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Mes Itinéraires", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "link-navbar" %>
        </div>


        <% else %>


        <div class="navbar-link">
          <%= link_to "Accueil", root_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to "Connexion", new_user_session_path, class: "link-navbar" %>
        </div>

        <div class="navbar-link">
          <%= link_to new_user_registration_path  do %>
          <%= render "shared/button", calltoaction: "Inscription" %>
          <% end  %>
        </div>


        <% end %>
      </div>

      <div class="drop-menu">
        <i class="fas fa-bars"></i>
      </div>

      <div class="drop-menu-close">
        <i class="fas fa-times"></i>
      </div>

    </div>


  </div>
</div>
