<div class="navbar-walk">

  <!-- Navbar for computers -->
  <div class="navbar-walk-desktop hidden-xs hidden-sm">
    <div class="navabar-logo logo-desktop">
      <h1>LOGO</h1>
    </div>

    <% if user_signed_in? %>
      <div class="navbar-menu-desktop">
        <div class="navbar-link">
          <div class="icon text-center"><i class="fas fa-home"></i></div>
          <%= link_to "Accueil", root_path %>
        </div>
        <div class="navbar-link">
          <div class="icon text-center"><i class="fas fa-walking"></i></div>
          <%= link_to "Mes Itinéraires", components_path %>
        </div>
        <div class="navbar-link">
          <div class="icon text-center"><i class="fas fa-info"></i></div>
          <%= link_to "A propos", components_path %>
        </div>
        <div class="navbar-link">
          <div class="icon text-center"><i class="fas fa-sign-out-alt"></i></div>
          <%= link_to "Déconnexion", destroy_user_session_path %>
        </div>
      </div>

    <% else %>
      <div class="navbar-walk-right">
        <div class="navbar-menu-desktop">
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-home"></i></div>
            <%= link_to "Accueil", root_path %>
          </div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-info"></i></div>
            <%= link_to "A propos", components_path %>
          </div>
          <div class="call-to">
            <h1>BUTTON</h1>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <!-- Navbar for mobile -->
  <div class="navbar-walk-mobile hidden-md hidden-lg">

    <div class="drop-menu">
      <i class="fas fa-bars" data-toggle="dropdown" onclick="openNav()"></i>
    </div>

    <div id="side-navbar">
      <div class="close"><i class="fas fa-times" onclick="closeNav()"></i></div>
      <!-- Logo -->
      <div class="navbar-logo logo-mobile">
        <h1>LOGO</h1>
      </div>

      <% if user_signed_in? %>
        <div class="user-profile">

        </div>

        <div class="navbar-menu-mobile">
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-home"></i></div>
            <%= link_to "Accueil", root_path %>
          </div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-walking"></i></div>
            <%= link_to "Mes Itinéraires", components_path %></div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-info"></i></div>
            <%= link_to "A propos", components_path %>
          </div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-sign-out-alt"></i></div>
            <%= link_to "Déconnexion", destroy_user_session_path %>
          </div>
        </div>
      <% else %>
        <div class="user-profile">

        </div>

        <div class="navbar-menu-mobile">
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-home"></i></div>
            <%= link_to "Accueil", root_path %>
          </div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-info"></i></div>
            <%= link_to "A propos", components_path %>
          </div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-sign-out-alt"></i></div>
            <%= link_to "Inscription", new_user_registration_path %>
          </div>
          <div class="navbar-link">
            <div class="icon text-center"><i class="fas fa-sign-out-alt"></i></div>
            <%= link_to "Connexion", new_user_session_path %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<script>
function openNav() {
    document.getElementById("side-navbar").style.width = "250px";
}

function closeNav() {
    document.getElementById("side-navbar").style.width = "0";
}
</script>
