<h1>Choice</h1>

<%= @itineraire.name %>

<%= @itineraire.city.name %>

<ul>
  <li>TOUS LES MONUMENTS ASSOCIES</li>
  <% @itineraire.monuments.each do |monument| %>
    <li><%= monument.name %></li>
  <% end %>
</ul>

<div class="no-more" style="height: 500px; width:500px; border: 1px solid black; transition: all 2s ease; display: none;">
  <h1>No More</h1>

  <%= link_to "Fetch", choice_path(@itineraire), class: "link-fetch" %>
</div>

<div class="card-test" style="height: 500px; width:500px; border: 1px solid black;">
  <!-- La classe sera remplacé par la grande fiche monument -->
</div>

<div class="validate validate-yes">
  <%= image_tag "check.svg" %>
</div>


<div class="validate validate-no">
  <%= image_tag "close.svg" %>
</div>

<%= link_to "Recap", recap_path(@itineraire) %>


<% content_for(:js) do %>
  <%= javascript_pack_tag 'validate' %>
<% end %>
