<% content_for :title, "Seety - Choix des monuments" %>


<%= link_to url_for(:back) do %>
  <div class="return"><i class="fas fa-arrow-left"></i></div>
<% end %>

<div id="green-choice">

  <div class="green-choice-circle">
    <i class="far fa-check-circle green-choice-i"></i>
  </div>
  <div class="green-choice-container">
    <%= link_to "J'ai choisi mes monuments", recap_path(@itineraire), class: "choice-made" %>
  </div>
</div>



<div id="map"></div>

<div class="cards">

<div id="metrics-distance">

</div>


<% @monuments.each_with_index do |monument, index| %>
  <div class="card" id="monument-<%= monument.id %>" style="<%= "visibility: hidden;" unless index.zero? %>">
    <div class="monument-image-div">
      <%= cl_image_tag(monument.photo, class: "monument-image-new") %>
    </div>
    <h2 class="monument-name"><%= monument.name %></h2>

    <div class="choice-maker">
      <div class="choice-validate choice-no">
        <%= image_tag "close.svg" %>
      </div>
      <div class="choice-validate choice-yes">
        <%= image_tag "check.svg" %>
      </div>
    </div>
    <div class="card-stars">
      <% compteur_empty_stars = 5 %>
      <% score_to_stars(monument.score).to_i.times do %>
      <i class="fas fa-star"></i>
      <% compteur_empty_stars -= 1 %>
      <% end %>
      <% if score_to_stars(monument.score) - score_to_stars(monument.score).to_i == 0.5 %>
      <i class="fas fa-star-half-alt"></i>
      <% compteur_empty_stars -= 1 %>
      <% compteur_empty_stars.times %>
      <i class="far fa-star"></i>
      <% end %>
    </div>

    <div class="card-infos" id="plus-info-<%= monument.id %>">
      <i class="fas fa-info-circle"></i>
    </div>
  </div>
<% end %>

<% @monuments.each_with_index do |monument, index| %>
  <div class="card-info" id="monument-info-<%= monument.id %>" style="<%= "visibility: hidden;" %>">
    <div class="monument-image-div-info">
      <%= cl_image_tag(monument.photo, class: "monument-image-new") %>
    </div>
    <h2 class="monument-name-info"><%= monument.name %></h2>

     <div class="card-stars">
      <% compteur_empty_stars = 5 %>
      <% score_to_stars(monument.score).to_i.times do %>
      <i class="fas fa-star"></i>
      <% compteur_empty_stars -= 1 %>
      <% end %>
      <% if score_to_stars(monument.score) - score_to_stars(monument.score).to_i == 0.5 %>
      <i class="fas fa-star-half-alt"></i>
      <% compteur_empty_stars -= 1 %>
      <% compteur_empty_stars.times %>
      <i class="far fa-star"></i>
      <% end %>
    </div>

    <div class="info-supp">
      <h3>Inscrit au patrimoine</h3>
      <h4><%= monument.address %></h4>
    </div>

    <div class="description-info">
      <h3>Description</h3>
      <p><%= monument.description %></p>
    </div>

    <div class="delete-card-info" id="delete-info-<%= monument.id %>">
      <i class="fas fa-undo-alt"></i>
    </div>

  </div>
<% end %>
</div>

<% content_for(:js) do %>
  <%= javascript_pack_tag 'choice' %>
<% end %>


<style>
  body, html {
    overflow: hidden;
  }

  body {
    position: relative;
  }
</style>
