<div id="green-choice">
  <%= link_to "J'ai choisi mes monuments", recap_path(@itineraire), class: "choice-made" %>
</div>

<div id="map"></div>


<% @monuments.each_with_index do |monument, index| %>
  <div class="card" id="monument-<%= monument.id %>" style="<%= "display: none;" unless index.zero? %>">
    <div class="monument-image-div">
      <%= cl_image_tag(monument.photo, class: "monument-image-new") %>
    </div>
    <h2 class="monument-name"><%= monument.name %></h2>

    <div class="choice-maker">
      <div class="choice-validate choice-no">
        <%= image_tag "close.svg" %>
      </div>
      <div class="choice-validate choice-yes">
        <%= image_tag "check.svg" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:js) do %>
  <%= javascript_pack_tag 'choice' %>
<% end %>
