<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
      <div class="monument-card active">

          <div class="flip-card-3D-wrapper">
            <div id="flip-card">

              <div id="flip-card-front">
                <!-- JS -->
              </div>

             <div id="flip-card-back">
               <!-- JS -->
              </div>

            </div>
          </div>

          <div class="container-texte">
            <!-- JS -->
          </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
      <div class="monument-card no-more" style="display: none;">

          <div class="no-more-text">
            <h1>NO MORE</h1>

            <%= link_to "Recharger les monuments", choice_path(@itineraire), class: "link-fetch" %>
          </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="position-valid-button">

        <div class="validate validate-no">
          <%= image_tag "close.svg" %>
        </div>

        <div class="validate validate-yes">
          <%= image_tag "check.svg" %>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
        <div class="bouton-compute">
          <%= link_to recap_path(@itineraire)  do %>
            <%= render "shared/button", calltoaction: "J'ai choisi tous mes monuments!" %>
          <% end  %>
        </div>
      </div>
    </div>
</div>

<% content_for(:js) do %>
  <%= javascript_pack_tag 'validate' %>
  <%= javascript_pack_tag 'grandefichemonument' %>
<% end %>
