<h1>RECAP</h1>
    <li></li>
<%= @itineraire.compteur %>
<div class="container-fiche-delete">
  <% @itineraire.monuments.each do |monument| %>

  <div class="fiche-delete">
    <%= image_tag("citadelle.jpg") %>
    <i class="far fa-times-circle"></i>
    <h2><%= monument.id %></h2>
  </div>
  <% end %>

</div>


<%= link_to itinary_path(@itineraire) do %>
  <%= render "shared/button", calltoaction: "Mon itinéraire" %>
<% end  %>

<% content_for(:js) do %>
  <%= javascript_pack_tag 'delete' %>
<% end %>



