<div id="green-choice">
  <div class="green-choice-circle">
    <i class="far fa-check-circle green-choice-i"></i>
  </div>
  <div class="green-choice-container">
    <%= link_to "Je valide mon itinéraire", itinary_path(@itineraire), class: "choice-made" %>
  </div>
</div>

<div id="map"></div>



<div class="cards">
  <div class="ball-monuments">
    <% @monuments.each do |monument| %>
    <div class="ball-monument" id="<%= "ball-#{monument.id}" %>"></div>
    <% end %>
  </div>


  <% @monuments.each_with_index do |monument, index| %>
  <div class="card" id="monument-<%= monument.id %>" style="<%= "visibility: hidden" unless index.zero? %>">
    <div class="monument-image-div">
      <%= cl_image_tag(monument.photo, class: "monument-image-new") %>
    </div>
    <h2 class="monument-name"><%= monument.name %></h2>

    <div class="arrow-container">
      <i class="fas fa-chevron-left img-arrow-left"></i>
      <i class="fas fa-chevron-right img-arrow-right"></i>
    </div>

    <%= link_to delete_path(@itineraire, monument.id), method: :delete, class: "delete-card" do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <% end %>
</div>


<% content_for(:js) do %>
  <%= javascript_pack_tag 'recap' %>
<% end %>
