<h1>RECAP</h1>
    <li></li>
<%= @itineraire.compteur %>
<div class="container-fiche-delete">
  <% @itineraire.monuments.each do |monument| %>

  <div class="fiche-delete" card-id="<%= monument.id %>">
    <%= image_tag("citadelle.jpg") %>

    <%= link_to supprimer_path(@itineraire, monument.id), method: :post, remote: true do %>
      <i class="far fa-times-circle"></i>
    <% end %>

    <h2><%= monument.id %></h2>
    <h2><%= monument.name %> </h2>
  </div>
  <% end %>

</div>


<%= link_to itinary_path(@itineraire) do %>
  <%= render "shared/button", calltoaction: "Mon itinéraire" %>
<% end  %>

<% content_for(:js) do %>
  <%= javascript_pack_tag 'delete' %>
<% end %>



