<% content_for :title, "Seety - Validation d'itinéraire" %>

<%= link_to choice_path(@itineraire) do %>
  <div id="return"><i class="fas fa-arrow-left"></i></div>
<% end %>

<div id="green-choice">
  <div class="green-choice-circle">
    <i class="far fa-check-circle green-choice-i"></i>
  </div>
  <div class="green-choice-container">
    <a href="#" class= "choice-made" data-toggle="modal" data-target="#departModal">Je valide mon itinéraire</a>
  </div>
</div>

<div id="map"></div>



<div class="cards">

  <% @monuments.each_with_index do |monument, index| %>
  <div class="card" id="monument-<%= monument.id %>" style="<%= "visibility: hidden" unless index.zero? %>">
    <div class="monument-image-div">
      <%= cl_image_tag(monument.photo, class: "monument-image-new") %>
    </div>
    <h2 class="monument-name"><%= monument.name %></h2>

    <div class="card-stars">
      <% compteur_empty_stars = 5 %>
      <% score_to_stars(monument.score).to_i.times do %>
        <i class="fas fa-star"></i>
        <% compteur_empty_stars -= 1 %>
      <% end %>
      <% if (score_to_stars(monument.score) - score_to_stars(monument.score).to_i == 0.5) %>
        <i class="fas fa-star-half-alt"></i>
        <% compteur_empty_stars -= 1 %>
      <% end %>
      <% compteur_empty_stars.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>

    <div class="arrow-container">
      <i class="fas fa-chevron-left img-arrow-left"></i>
      <i class="fas fa-chevron-right img-arrow-right"></i>
    </div>

      <div class="delete-card" id="delete-id-<%= monument.id %>">
        <i class="fas fa-times"></i>
      </div>
  </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="departModal" tabindex="-1" role="dialog" aria-labelledby="departModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-pt-depart">
      <div class="modal-header text-center modal-pt-header">
        <h5 class="modal-title" id="departModalLabel">Voulez-vous ajouter un point de départ ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="close-modal" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-pt-body">


        <form class="form-container" action="/">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="autocomplete">
            <div class="form-group">
              <input type="text" name="name" placeholder="Point de départ" id="myInput" class="form-control">
            </div>
            <button type="submit" name="button" class="button-icon"><i class="fas fa-search"></i></button>
          </div>
        </form>

        <div id="container-geocode">

        </div>
      </div>
      <div class="modal-footer modal-pt-footer">
        <%= link_to "Pas de point de départ", itinary_path(@itineraire), id: "noPointDepart" %>
        <a href="#" id="displayGeocoder">Je veux rentrer mon point de départ</a>
        <%= link_to "J'ajoute mon point de départ", itinary_path(@itineraire), id: "addPointDepart" %>
      </div>
    </div>
  </div>
</div>


<% content_for(:js) do %>
  <%= javascript_pack_tag 'recap' %>
<% end %>


<style>
  body, html {
    overflow: hidden;
  }

  body {
    position: relative;
  }
</style>
