<div class="display-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-2">
      <% @itineraires_perso.each do |itineraire| %>
      <% path = itinary_path(itineraire.id) if itineraire.compteur >2 %>
      <% path = choice_path(itineraire.id) if itineraire.compteur < 3 %>

        <div class="fiche-city-wrapper">
      <%= link_to itinary_path(itineraire.id), class: "link-fiche-city" do %>
          <div class="fiche-city-display">
            <%= cl_image_tag(itineraire.city.photo) %>
            <%= itineraire.duration %>
            <%= itineraire.distance %>
            <%= itineraire.created_at %>
            <%= itineraire.monuments.size %>
            <div class="city-description">
              <h3><%= itineraire.city.name %></h3>


            </div>
          </div>
        </div>
        <%end%>
      <%end%>
      </div>
    </div>
  </div>
</div>

