<div class="page-explications">


  <div class="placement">

    <div class="encart">
      <div class="bouton-explics">
        <%= image_tag("choix.png", alt: "carte-ville", class: "explics-image") %>
      </div>
      <div class="text-explics">
      <p>Les fiches de monuments vont être affichées. Je peux donc valider celles que je souhaite.</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
        <%= image_tag("bouton-vert.png", alt: "carte-ville", class: "explics-image") %>
      </div>
      <div class="text-explics">
        <p>Une fois que j'ai fait mon choix, je valide mes monuments avec ce bouton vert.</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">

      </div>
      <div class="text-explics">

        <p>Je me suis trompé(e)? Aucuns problèmes, je peux réajuster mon choix!</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
      </div>
      <div class="text-explics">

        <p>Je peux maintenant valider mon itinéraire et partir à la découverté de <%= @city.name %>! </p>
      </div>
    </div>

  </div>

<div id="green-choice">

</div>




</div>

<!--
 <%= link_to post_city_path(@city), method: :post do %>
    <%= render "shared/button", calltoaction: "C'est parti!" %>
  <% end  %> -->


<% content_for(:js) do %>
  <%= javascript_pack_tag 'explications' %>
<% end %>

