<% content_for :title, "Seety - Explications" %>


<div class="page-explications">


  <div id="map-explics">

  </div>


  <div class="placement">
    <!-- <span class="banner-typed-text"></span> Je n'arrive pas à mettre du CSS dessus....-->

    <div class="encart">
      <div class="bouton-explics">
        <div class="fake-choice-maker">
          <div class="fake-choice-validate choice-no">
          <%= image_tag "close.svg" %>
          </div>
          <div class="fake-choice-validate choice-yes">
          <%= image_tag "check.svg" %>
          </div>
        </div>
      </div>
      <div class="text-explics">
      <p> Je like les monuments qui m'intéressent à <%= @city.name %>.</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
          <div class="bouton-vert">
          <i class="fas fa-arrow-right"></i>
          </div>
      </div>
      <div class="text-explics">
        <p> Je valide les monuments que je veux visiter lors de mon exploration de la ville.</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
        <div class="bouton-explics">
          <%= image_tag("seety_icon_inverse", alt: "logok", id: "logo") %>
        </div>
        </div>
        <div class="text-explics">
        <p> Je me laisse guider par seety qui va calculer pour moi l'itinéraire optimal.</p>
      </div>
    </div>
  </div>

  <div class="choice">
    <div class="choice-container">
      <%= link_to "J'ai compris !", post_city_path(@city), method: :post %>
    </div>
  </div>


</div>


<% content_for(:js) do %>
  <%= javascript_pack_tag 'explications' %>
<% end %>
