<% content_for :title, "Seety - Explications" %>


<div class="page-explications">


  <div id="map-explics">

  </div>


  <div class="placement">

    <div class="encart">
      <div class="bouton-explics">
        <%= image_tag("choix.png", alt: "carte-ville", id: "image-validate-explics") %>
      </div>
      <div class="text-explics">
      <p>Les fiches de monuments vont être affichées. Je peux donc valider celles que je souhaite.</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
        <%= image_tag("bouton-vert.png", alt: "carte-ville", id: "bouton-validate") %>
      </div>
      <div class="text-explics">
        <p>Une fois que j'ai fait mon choix, je valide mes monuments avec ce bouton vert. (min deux monuments)</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
        <%= image_tag("recap.png", alt: "imagre-recap", id: "image-validate-explics") %>
      </div>
      <div class="text-explics">

        <p>Je me suis trompé(e)? Aucuns problèmes, je peux réajuster mon choix!</p>
      </div>
    </div>

    <div class="encart">
      <div class="bouton-explics">
        <%= image_tag("valideriti.png", alt: "bouton-ok", id: "bouton-validate") %>
      </div>
      <div class="text-explics">

        <p>Je peux maintenant valider mon itinéraire et partir à la découverté de <%= @city.name %>! </p>
      </div>
    </div>

  </div>

  <div class="choice">
    <div class="choice-container">
      <%= link_to "J'ai compris !", post_city_path(@city), method: :post %>
    </div>
  </div>


</div>


<% content_for(:js) do %>
  <%= javascript_pack_tag 'explications' %>
<% end %>
