<% content_for :title, "Seety - Page d'Accueil" %>

<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="home-description">
          <h1 class="text-center">SEETY</h1>
          <p class="text-center">
            <span id="banner-typed-text"></span>
          </p>

          <div class="container-flex">

            <form class="form-container" action="<%= search_city_path %>" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="autocomplete">
                <div class="form-group">
                  <input type="text" name="name" placeholder="Entrez votre ville" id="myInput" class="form-control">
                </div>
                <button type="submit" name="button" class="button-icon"><i class="fas fa-search"></i></button>
              </div>
            </form>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="city-home-wrapper">
  <div class="available-cities">
    <h1>Les villes visitées par nos seetyseurs c'est ici:</h1>
  </div>

<div class="container-fiche-city">
  <% @cities.each do |city| %>
    <%= link_to explications_path(city.name), class: "link-fiche-city" do %>
      <div class="fiche-city">
        <%= cl_image_tag(city.photo) %>
        <div class="city-description">
          <h3><%= city.name %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>

<div class="presentation-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="home-presentation">
          <p>
            <br>Tu n'as qu'une journée pour visiter une ville? Mais que faire?</br>
            <br>Seety est là pour toi.</br>
            <br>Choisis, une ville ensuite nous prenons tout en main. Grâce à un algorithme précis nous te proposons les meilleurs monuments à visiter. Tu sélectionnes ceux qui t'intéressent et hop c'est parti! Seety te calcule un itinéraire optimisé.</br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_pack_tag 'cities-autocomplete' %>
  <%= javascript_pack_tag 'home' %>
<% end %>
